<input type="text" [(ngModel)]="query" (keyup)="search()">

<a mat-icon-button matTooltip="Creation"
    routerLink="/consumerform">
  <mat-icon>person_add</mat-icon>
</a>

<table>
  <tr>
    <th>civility</th>
    <th>firstname</th>
    <th>lastname</th>
    <th>phone</th>
    <th>email</th>
    <th>actions</th>
  </tr>
  <tr *ngFor="let consumer of consumers">
    <td>{{consumer.civility}}</td>
    <td>{{consumer.firstname}}</td>
    <td>{{consumer.lastname}}</td>
    <td>{{consumer.phone | phone}}</td>
    <td>{{consumer.email}}</td>
    <td></td>
  </tr>
</table>
