<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <mat-label for="login">Email</mat-label>
        <input matInput id="login" formControlName="login"/>
      </mat-form-field>
      <crm-help [field]="loginForm.get('login')!"
                [errorMessages]="{
                  required : 'it is required',
                  minlength: 'it is too short'
                }"></crm-help>

    </p>
    <p>
      <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input matInput id="password" type="password" formControlName="password"/>
      </mat-form-field>
    </p>
    <p>
      <button mat-button type="submit" color="primary"
              [disabled]="!loginForm.valid">Login</button>
    </p>
  </form>
</div>
