<p>this is {{title}} !</p>

<p><button (click)="clicked($event)">Click Me</button></p>

<p [ngClass]="cssClass">
  {{person.firstname}} {{person.lastname}}
</p>

<ul>
  <li *ngFor="let fruit of fruits">{{fruit}}</li>
</ul>

<form #signupForm="ngForm" (ngSubmit)="registerUser(signupForm)">
  <label for="email">Email</label>
  <input type="text" name="email" id="email" [(ngModel)]="email">

  <label for="password">Password</label>
  <input type="password" name="password" id="password" ngModel>

  <button type="submit">Sign Up</button>
</form>
